<h1><%= @user["name"] %> (@<%= @username %>)</h1>

<p>
  Languages: <%= @languages %>
</p>

<h2>Most Recent Repos</h2>

<% @repos.each do |repo| %>
  <p>
    <a href="<%= repo["html_url"] %>"><%= repo["name"] %></a>
    <%= repo["language"] %> - last push on <%= repo["pushed_at"].to_date.to_s %>
  </p>
<% end %>
